# ========================
# BepInEx Mod 极简忽略清单
# ========================

# 1. 编译输出目录 (绝对不能传)
bin/
obj/

# 2. 个人本地路径配置 (绝对不能传，就是上面说的那个文件)
*.user
*.csproj.user

# 3. IDE 个人缓存 (Rider / Visual Studio)
.idea/
.vs/
*.sln.DotSettings.user

# 4. 万一你们手滑把游戏 DLL 扔进来了，防患于未然
*.dll
*.pdb
# 允许代码文件
!*.cs